@model LoginUser;
@using Login_Registration.Models;
@using System.Collections.Generic;

<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Login!</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
 <body>

 <form asp-action="Login" >
                <span asp-validation-for="Email"></span><br>
                <label asp-for="Email">Email: </label>
                <input class="form-control input-lg" asp-for="Email">
                <span asp-validation-for="Password"></span><br>
                <label asp-for="Password">Password: </label>
                <input class="form-control input-lg" asp-for="Password">
                <span asp-validation-for="Password"></span><br>
                <!-- <label asp-for="Confirm">Confirm Password: </label>
                <input asp-for="Confirm">
                <span asp-validation-for="Confirm"></span><br> -->
                <button class="btn btn-primary">Login</button>
            </form>
         </body>
</html>